.text-green {
	color: #047668;
}
.text-orange {
	color: #FF6600;
}
.text-white {
	color: #FFFFFF;
}
.bg-green {
	background-color: #047668;
}
.bg-orange {
	background-color: #FF6600;
}
.container {
	margin-top: 18px;
}